body {
    font-family: sans-serif;
    background-color: #003c5fb2;    
    font-family: Louis George Cafe;
    font-weight: bold;
}

select {
    background-color: rgba(255, 255, 255, 0.438);
    height: 130px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    

}

.container {
    width: 250px;
    margin: 90px auto;
    padding: 20px;
    background-color: #ffffff56;
    border-radius: 20px;
    box-shadow: 0 8px 2px rgba(0, 0, 0, 0.1);
}

input {
    background-color: #007bffb6;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    font-family: Louis George Cafe;
    transition: background-color 0.3s ease;
    margin-bottom: 30px;
}




    